<header class="cashier-header">
  <h1>{{cashier.name}}</h1>

  <button class="btn-primary" {{action 'newOrder'}}>New order</button>

  <span class="connection-status">
    {{#if orderService.connecting}}
      Ansluter!
    {{else if orderService.connected}}
      Ansluten!
    {{/if}}

    {{#unless (or orderService.connecting orderService.connected)}}
      Nerkopplad..
    {{/unless}}
  </span>
</header>

{{#if orderService.order}}
  <section class="cashier-products-container">
    <section class="cashier-available-products">
      <ol>
        {{#each products as |product|}}
          {{cashier-product model=product order=orderService.order showButtons=true }}
        {{/each}}
      </ol>
    </section>
    <section class="cashier-product-summary">
      
      {{cashier-product-summary classNames="cashier-product-summary-items" model=products}}
      
      <div class="cashier-product-summary-btns">
        {{#if (eq orderService.order.status 'preparing')}}
          <button class="btn-primary" {{action 'setStatus' 'readyForPayment'}}>Make ready for payment</button>
        {{else if (eq orderService.order.status 'readyForPayment')}}
          <button class="btn-primary" {{action 'setStatus' 'preparing'}}>Back to prepare order</button>
          <button class="btn-primary btn-payed" {{action 'setStatus' 'paid'}}>Paid</button>
        {{/if}}
      </div>
    </section>
  </section>
{{else}}
  <span class="no-order">Ingen aktiv beställning</span>
{{/if}}