<header class="customer-header">
  <h1>{{cashier.name}}</h1>

  {{connection-status connectedService=orderService}}
</header>
{{#if orderService.order}}
  <section class="customer-container">
    {{customer-summary classNames="customer-summary" model=orderService.order}}

    <div class="qr-code-container">
      {{#if (eq orderService.order.status 'readyForPayment')}}
          {{swish-qr-code}}
          <span class="swish-qr-code">{{t 'customer.swish-qr-code'}}</span>
      {{/if}}
    </div>
    <div class="order-paid-container {{if (eq orderService.order.status 'paid') 'visible'}}">
      {{#if (eq orderService.order.status 'paid')}}
        <svg class="checkmark" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 52 52"><circle class="checkmark__circle" cx="26" cy="26" r="25" fill="none"/><path class="checkmark__check" fill="none" d="M14.1 27.2l7.1 7.2 16.7-16.8"/></svg>
      {{/if}}
      <span class="order-paid">
        {{#if (eq orderService.order.status 'paid')}}
          {{t 'customer.order-paid'}}
        {{/if}}
      </span>
      
    </div>
  </section>
{{else}}
  <span class="no-order">{{t 'customer.no-active-order'}}</span>
{{/if}}



