<header class="customer-header">
  <h1>{{cashier.name}} - Customer view</h1>

  <span class="connection-status">
    {{#if orderService.connecting}}
      Ansluter!
    {{else if orderService.connected}}
      Ansluten!
    {{/if}}

    {{#unless (or orderService.connecting orderService.connected)}}
      Nerkopplad..
    {{/unless}}
  </span>
</header>
{{#if orderService.order}}
  {{customer-summary model=orderService.order}}

  {{#if (eq orderService.order.status 'readyForPayment')}}
    {{swish-qr-code}}
  {{/if}}
{{else}}
  <span class="no-order">Ingen aktiv beställning</span>
{{/if}}