<header class="customer-header">
  <h1>{{cashier.name}} - Customer view</h1>

  {{connection-status connectedService=orderService}}
</header>
{{#if orderService.order}}
  <section class="customer-container">
    {{customer-summary classNames="customer-summary" model=orderService.order}}

    <div class="qr-code-container">
      {{#if (eq orderService.order.status 'readyForPayment')}}
          {{swish-qr-code}}
          <span class="swish-qr-code">{{t 'customer.swish-qr-code'}}</span>
      {{/if}}
    </div>
    <div class="order-paid-container {{if (eq orderService.order.status 'paid') 'visible'}}">
      {{#if (eq orderService.order.status 'paid')}}
        <span class="order-paid">{{t 'customer.order-paid'}}</span>
      {{/if}}
    </div>
  </section>
{{else}}
  <span class="no-order">{{t 'customer.no-active-order'}}</span>
{{/if}}