<header class="customer-header">
  <h1>{{cashier.name}} - Customer view</h1>

  {{connection-status connectedService=orderService}}
</header>
{{#if orderService.order}}
  {{customer-summary model=orderService.order}}

  {{#if (eq orderService.order.status 'readyForPayment')}}
    <div class="qr-code-container">
      {{swish-qr-code}}
      <span class="swish-qr-code">{{t 'customer.swish-qr-code'}}</span>
    </div>
  {{/if}}

  {{#if (eq orderService.order.status 'paid')}}
    <span class="order-paid">{{t 'customer.order-paid'}}</span>
  {{/if}}
{{else}}
  <span class="no-order">{{t 'customer.no-active-order'}}</span>
{{/if}}