<span class="label">{{model.label}}</span>
<span class="cost">{{model.cost}}kr</span>
{{#if showButtons}}
  <button {{action 'decrease'}}>-</button>
  <button {{action 'increase'}}>+</button>
{{/if}}
<span class="count">{{model.count}}st</span>
<span class="total">{{total}}kr</span>