<span class="connection-status {{if isConnecting 'status-connecting'}} {{if isConnected 'status-connected'}} {{if isDisconnected 'status-disconnected'}}">
  {{#if isConnecting}}
    {{t 'connection-status.connecting'}}
  {{/if}}

  {{#if isConnected}}
    {{t 'connection-status.connected'}}
  {{/if}}

  {{#if isDisconnected}}
    {{t 'connection-status.disconnected'}}
  {{/if}}
</span>